*
{
    padding: 0px;
    margin: 0px;
   
}
p
{
    font-size: 18px;
    text-align: justify;
}
a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
h4, h1
{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 100; */
}
.cover
{
    
    background-position: center;
    height: 200px;
    text-align: center;
    padding-top: 20px;
    background-color: black;
    width: 100%;

}

.nav-cstm
{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 2px 5px darkgray;
  color: black;
  
}
.nav-cstm a
{
    font-size: 17px;
}
.content
{

    margin: 0 auto;
    width: 94%;
    margin-top: -40px;
    



}
.title-box
{
    background-color: #F7F7F7;
    padding: 12px;
    text-align: center;
    width: 100%;
    border: 1px solid darkgray;

    
}
.title
{
    padding: 12px;
    background-color: white;
    /* width: 400px ; */
    margin: 0 auto;
    border: 1px solid darkgray;
   
}
.cstm-row
{
    width: 100%;
    padding: 0px;
    margin: 0px; 
    margin-bottom: 100px;
    
}
.cstm
{
    height: 300px;
     margin-bottom: 52px;
     background-position: center;
     background-size: cover;
     border: solid 1px white;
     transition: .5s;
     padding: 0px;
     box-shadow: 2px 3px 5px gray;
     
     
}
.cstm:hover,a:hover
{
   
    transform: scale(.95);
    text-decoration: none;
    color: black;
}
.inner-div
{
    background-color: white;
    height: 80px;
    margin-top: 260px;
    width: 250px;
    padding: 2px;
    
}
.reviews
{
    padding-right: 30px;
}

.comments
{
    float:left;
    color: black;
    padding: 2px;
     
}
.subs
{
    border: 2px dotted brown;
    
    padding: 20px;
    width: 85%;
    margin: 0 auto;
    margin-top: 20px;
}


.cstm-footer
{
    
    padding: 50px;
    color: white;
    
}
.cstm-footer h5
{
    color:#B42A78;
}
ul li
{
    list-style: none;
    margin-top: 20px;
    font-size: 17px;
    padding: 2px;
    color: black;
   
}
ul li:hover
{
    color:#B42A78;   
}
.copyright
{
    /* height: 150px; */
    /* background-color: lightgray; */
    padding: 30px;
    color: gray;
}
.up,.up img
{
    
    float: right;
    

}